body {
  background-color: #f9f9f9;
}
.logo {
  height: 150px;
  width: 150px;
  margin: 8px;
  float: left;
}
.top-nav {
  height: 40px;
  background-color: #603374;
}
.top-nav span {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
.top-nav a {
    margin-top: auto;
    margin-bottom: auto;
}
.bottom-nav {
  height: 40px;
  background-color: #603374;
  padding-left: 30px;
  padding-right: 30px;
}
.bottom-nav a {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.middle-nav {
  height: 90px;
  text-align: center;
}
.div .span {
  display: inline-block;
}
#span1 {
  font-family: "Playfair Display";
  font-size: 32px;
}
#span2 {
  font-family: "Roboto";
  font-size: 12px;
  font-style: italic;
  letter-spacing: 2px;
}
.img-icon{
  height: 12px;
  width: 12px;
}
.nothing {
  height: 450px;
}
.jumbo{
  position: relative;
}
.img-overlay{
  position: absolute;
  top: 50px;
  left: 60px;
}
.img-overlay-text{
  display: block;
  word-wrap:break-word;
  width: 280px;
  line-height: normal;
  white-space: normal;
  font-size: 40px;
  font-family: "Playfair Display";
  color: white;
  text-shadow: 0px 1px 1px black;
}
.jumbo-button {
  margin-top: 30px;
  width: 150px;
  height: 50px;
  background-color: #603374;
  border: none;
  border-radius: 10px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  color: white;
  box-shadow: 0px 1px 1px black;
}
.header-text{
  width: 900px;
  margin: auto;
  height: 50px;
  text-align: center;
}
.header-text span{
  
  font-size: 32px;
  font-family: "Playfair Display";
  color: #603374;
}
.header-text p{
  font-family: "Roboto";
  font-size: 16px;
  font-weight: lighter;
}